.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  outline: 2px solid tomato;

  @media screen and(min-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
  }
}
// .container--flex {
//   @media screen and(min-width:1200px) {
//     display: flex;
//     flex-direction: row;
//     align-items: baseline;
//   }
// }
