.products {
}
.section {
}
.container {
}
.products__content {
  text-align: center;
}
.products__label {
  color: rgba(255, 165, 186, 1);
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 15px;
}
.products__title {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.15;
  margin-bottom: 148px;
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__item {
  position: relative;
  padding-top: 160px;
  width: 280px;
  height: 489px;
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 140px;
  }
  &:nth-child(1) {
    background-color: rgba(255, 184, 202, 1);
    .product-card__title::before {
      content: '';
      width: 280px;
      height: 280px;
      position: absolute;
      left: 0;
      top: -150px;
      background-image: url(../../images/products/home-pic1mob@1x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../images/products/home-pic1mob@2x.png);
      }

      @media screen and(min-width:768px) {
        background-image: url(../../images/products/home-pic1tab@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic1tab@2x.png);
        }
      }
      @media screen and(min-width:1280px) {
        background-image: url(../../images/products/home-pic1@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic1@2x.png);
        }
      }
    }
  }
  &:nth-child(2) {
    background-color: rgba(240, 209, 165, 1);
    .product-card__title::before {
      content: '';
      width: 280px;
      height: 280px;
      position: absolute;
      left: 0;
      top: -150px;
      background-image: url(../../images/products/home-pic2mob@1x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../images/products/home-pic2mob@2x.png);
      }

      @media screen and(min-width:768px) {
        background-image: url(../../images/products/home-pic2tab@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic2tab@2x.png);
        }
      }
      @media screen and(min-width:1280px) {
        background-image: url(../../images/products/home-pic2@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic2@2x.png);
        }
      }
    }
  }
  &:nth-child(3) {
    background-color: rgba(194, 226, 151, 1);
    .product-card__title::before {
      content: '';
      width: 280px;
      height: 280px;
      position: absolute;
      left: 0;
      top: -150px;
      background-image: url(../../images/products/home-pic3mob@1x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../../images/products/home-pic3mob@2x.png);
      }

      @media screen and(min-width:768px) {
        background-image: url(../../images/products/home-pic3tab@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic3tab@2x.png);
        }
      }
      @media screen and(min-width:1280px) {
        background-image: url(../../images/products/home-pic3@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../../images/products/home-pic3@2x.png);
        }
      }
    }
  }
}
